/* styles */
/* called by your view template */

*{
  margin:0;
  padding:0;
}

body {
  font-family: helvetica, arial, sans-serif;
  background:#282a36;
}

h1 {
  color: #FFF;
  font-size: 4em;
}

.stroke{
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.box{  
  padding: 1em;  
  border-radius: 12px;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}



.float{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;    
    border-radius: 50px;
    text-align: center;
    
}

.bookmarkbox{
  border: 1px solid #fff;
  padding: 1em;
  margin: 1em;
  border-radius: 12px;
}

.bookmarkbox:hover{
  background: #44475a;
}

.buttonBox{
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.button{
  margin: 1em;
}

