<!doctype html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header class="sticky-top">
    <%- include("../partials/header.ejs") %>
    </header>
    <main class="container" >
    <div>
      <p class="text-light bookmarkbox ">
        <strong>Welcome to Bookmarks!!</strong> Your own personal web-based bookmark organizer
      </p>
    </div>
    </main>
    <footer>
      <%- include("../partials/footer.ejs") %>
    </footer>  
  </body>
</html>