<!doctype html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header class="sticky-top">
    <%- include("../partials/header.ejs") %>
    </header>
    <main> 
      <div class="d-flex justify-content-center button">       
          <form action="/addbookmark" method="post">
            <div class="form-group text-light ">
              <h3 >Add A New Bookmark</h3>
              <!--<p><code class="text-light">POST /api/newbookmark</code></p>-->
              <div class="button form-group">
                 <p>
                  Bookmark URL
                </p>
                <input id="url" type="text" name="url" placeholder="*enter URL" class="form-control">
              </div>
              <div class="button form-group">
                <p>
                  Bookmark Description
                </p>
                <textarea id="description" name="description" class="form-control"></textarea>
              </div>              
              <button type="submit" class="btn bg-secondary text-light button">
                Submit
              </button>
              </div>
          </form>    
      </div>
    </main>  
    <footer>
      <%- include("../partials/footer.ejs") %>
    </footer> 
  </body>
</html>